<%= turbo_stream_from "hourlyforecasts" %>
<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 center">
        <h4><%=@location.name%></h4>
      </div>
      <div class="col s12">
        <div class="row">
          <div class="input-field col s12" data-controller="hourly-chart">
            <div id="hourly-chart"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <ul class="collection with-header hour-collection">
          <%= turbo_frame_tag "hourlyforecasts" do %>
              <%= render @forecasts %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>