<%= turbo_stream_from "locations" %>
<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12">
        <div class="row">
          <div class="input-field col s12" data-controller="location-search">
            <i class="material-icons prefix">textsms</i>
            <input type="text" id="autocomplete-input" class="autocomplete">
            <label for="autocomplete-input">Enter City Name</label>
          </div>
        </div>
      </div>
    </div>
  
    <%= turbo_frame_tag Location.new %>
    <ul class="collection with-header location-collection">
      <%= turbo_frame_tag "locations" do %>
          <%= render @locations %>
      <% end %>
    </ul>

  </div>
</div>